.header-contacts {
  display: flex;
  min-width: 670px;
  padding-left: 0;
  list-style: none;
  font-size: 16px;
  font-family: "PT Mono", "Arial", sans-serif;
}

.header-contacts__email {
  position: relative;
  margin-left: 44px;
  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -39px;
    width: 19px;
    height: 14px;
    background-image: url("../img/icon-envelope.svg");
  }
}

.header-contacts__phone-number {
  position: relative;
  margin-left: 122px;
  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -34px;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-phone-call.svg");
  }
}

.header-contacts__call-back {
  margin-top: 6px;
  margin-left: 49px;
  padding-top: 13px;
  padding-right: 27px;
  padding-bottom: 14px;
  padding-left: 26px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}
