.page-footer {
  margin-top: 3641px;
  color: #1b2d37;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.page-footer__logo {
  display: block;
}

.page-footer__logo-image {
  margin-top: 55px;
  margin-left: 2px;
}

.page-footer__logo-text {
  margin-top: -50px;
  margin-left: 70px;
  font-weight: 700;
  font-size: 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 29px;
}

.page-footer__logo-description {
  margin-top: -24px;
  margin-left: 70px;
  color: #788891;
  font-weight: 500;
  font-size: 12px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 14px;
  text-transform: lowercase;
}

.page-footer__copyright--years {
  display: none;
}

.page-footer__list {
  padding-left: 0;
  list-style: none;
  font-size: 15px;
  font-family: "PT Mono", "Courier New", monospace;
  line-height: 25px;
}

.page-footer__list--social {
  display: flex;
  margin-top: 51px;
  margin-left: -2px;
}

.page-footer__social-item--facebook {
  margin-right: 7px;
}

.page-footer__social-item--odnoklassniki {
  margin-right: 8px;
}

.page-footer__social-item a {
  display: block;
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
}

.page-footer__social-item--facebook a {
  background-image: url("../img/icon-facebook.svg");
}

.page-footer__social-item--odnoklassniki a {
  background-image: url("../img/icon-odnoklassniki.svg");
}

.page-footer__social-item--vk a {
  background-image: url("../img/icon-vk.svg");
}

.page-footer__sitemap-wrapper {
  margin-bottom: 33px;
  margin-left: 93px;
}

.page-footer__heading {
  font-weight: 400;
  font-size: 15px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 16px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.page-footer__heading--sitemap {
  margin-top: 55px;
  margin-bottom: 25px;
  margin-left: 2px;
}

.page-footer__accordeon-button {
  display: none;
}

.page-footer__list--sitemap {
  column-count: 2;
  column-gap: 74px;
}

.page-footer__sitemap-item {
  max-width: 234px;
}

.page-footer__sitemap-item a {
  color: #1b2d37;
  opacity: 0.5;
}

.page-footer__contacts-wrapper {
  margin-right: 6px;
}

.page-footer__heading--contacts {
  margin-top: 55px;
  margin-bottom: 25px;
  margin-left: 4px;
}

.page-footer__list--contacts {
  margin-left: 2px;
  opacity: 0.5;
}

.page-footer__contacts-item a {
  color: #1b2d37;
}

.page-footer__contacts-item p {
  margin: 0;
}

.page-footer__copyright-wrapper {
  width: 100%;
  border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.page-footer__list--copyright {
  display: flex;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.5;
}

.page-footer__list--copyright p,
.page-footer__list--copyright a {
  margin: 0;
  color: #1b2d37;
  letter-spacing: 0.52px;
}

.page-footer__copyright-item {
  margin-top: 1px;
}

.page-footer__copyright-item--rights {
  margin-right: 5.2%;
  margin-left: 12px;
}

.page-footer__copyright-item--years {
  margin-right: 9.8%;
}

.page-footer__copyright-item--privacy {
  margin-right: auto;
}

.page-footer__copyright-item--developer {
  margin-right: 16px;
}

@media (max-width: 1439px) {
  .page-footer__list--sitemap {
    column-count: 1;
  }

  .page-footer__sitemap-wrapper {
    margin-left: 0;
  }

  .page-footer__contacts-wrapper {
    margin-right: 0;
  }
}

@media (max-width: $tablet-max-width) {
  .page-footer {
    margin-top: 3498px;
  }

  .page-footer__logo-image {
    margin-top: 9px;
    margin-left: 15px;
  }

  .page-footer__logo-text,
  .page-footer__logo-description {
    margin-left: 83px;
  }

  .page-footer__copyright--years {
    display: block;
    margin: 0;
    padding-top: 26px;
    padding-left: 18px;
    font-size: 13px;
    font-family: "PT Mono", "Courier New", monospace;
    line-height: 24px;
    letter-spacing: 0.52px;
    text-transform: uppercase;
    opacity: 0.5;
  }

  .page-footer__social-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -10px;
      width: calc(100% + 20px);
      height: 1px;
      background-color: rgba(98, 105, 98, 0.2);
    }
  }

  .page-footer__list--social {
    margin-top: 16px;
    margin-right: 10px;
    margin-bottom: 36px;
    margin-left: 0;
  }

  .page-footer__sitemap-wrapper {
    margin-bottom: 11px;
    margin-left: 15px;
  }

  .page-footer__heading--sitemap,
  .page-footer__heading--contacts {
    margin-top: 38px;
  }

  .page-footer__contacts-wrapper {
    margin-right: 27px;
  }

  .page-footer__copyright-item--rights,
  .page-footer__copyright-item--years {
    display: none;
  }

  .page-footer__copyright-item--privacy {
    margin-top: 8px;
    margin-left: 27px;
  }

  .page-footer__copyright-item--developer {
    margin-top: 8px;
    margin-right: 26px;
  }
}

@media (max-width: $mobile-max-width) {
  .page-footer {
    margin-top: 4115px;
  }

  .page-footer__social-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .page-footer__logo-image {
    margin-top: 36px;
    margin-left: 0;
  }

  .page-footer__logo-text,
  .page-footer__logo-description {
    margin-left: 68px;
  }

  .page-footer__copyright--years {
    padding-top: 16px;
    padding-left: 2px;
  }

  .page-footer__list--social {
    margin-top: 28px;
    margin-bottom: 50px;
    margin-left: 10px;
  }

  .page-footer__sitemap-wrapper {
    position: relative;
    width: 100%;
    margin: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -10px;
      width: calc(100% + 20px);
      height: 1px;
      background-color: rgba(98, 105, 98, 0.2);
    }
  }

  .page-footer__heading--sitemap {
    margin-top: 29px;
    margin-bottom: 28px;
    margin-left: 5px;
  }

  .page-footer__accordeon-button {
    position: absolute;
    top: 17px;
    right: -5px;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 19px;
      left: 12px;
      width: 16px;
      height: 1px;
      background-color: #c4c4c4;
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 19px;
      width: 1px;
      height: 16px;
      background-color: #c4c4c4;
    }
  }

  .page-footer__list--sitemap {
    margin-right: 10px;
    margin-bottom: 16px;
    margin-left: 5px;
  }

  .page-footer__contacts-wrapper {
    position: relative;
    width: 100%;
    margin-right: 0;
  }

  .page-footer__heading--contacts {
    margin-top: 28px;
    margin-bottom: 19px;
    margin-left: 5px;
  }

  .page-footer__list--contacts {
    margin-top: 32px;
    margin-right: 10px;
    margin-bottom: 16px;
    margin-left: 5px;
  }

  .page-footer__list--copyright {
    flex-direction: column;
    align-items: center;
  }

  .page-footer__copyright-item {
    margin-top: 15px;
    margin-right: 0;
    margin-bottom: 6px;
    margin-left: 0;
  }

  .page-footer__list--js-hidden {
    display: none;
  }

  .page-footer__accordeon-button--js-shown {
    display: block;
  }

  .page-footer__accordeon-button--js-collapse {
    &::after {
      display: none;
    }
  }
}
