.page-header {
  background-color: #1b2d37;
  color: #ffffff;
}

.page-header__wrapper {
  display: flex;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.page-header__logo {
  display: block;
  margin-right: auto;
}

.page-header__logo-image {
  margin-top: 23px;
  margin-left: 3px;
}

.page-header__logo-text {
  margin-top: -50px;
  margin-left: 71px;
  font-weight: 700;
  font-size: 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 29px;
}

.page-header__logo-description {
  margin-top: -24px;
  margin-left: 71px;
  color: #788891;
  font-weight: 500;
  font-size: 12px;
  font-family: "Roboto", "Arial", sans-serif;
  line-height: 14px;
  text-transform: lowercase;
}

.page-header__contacts-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 670px;
  margin-top: 40px;
  padding-left: 0;
  list-style: none;
  font-size: 16px;
  font-family: "PT Mono", "Courier New", monospace;
}

.page-header__contacts-item {
  position: relative;
}

.page-header__contacts-item a {
  padding-left: 44px;
  color: #ffffff;
}

.page-header__contacts-item--email a {
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 19px;
    height: 14px;
    background-image: url("../img/icon-envelope.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
.page-header__contacts-item--email {
  margin-right: 78px;
}

.page-header__contacts-item--phone-number a {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10px;
    width: 18px;
    height: 18px;
    background-image: url("../img/icon-phone-call.svg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.page-header__contacts-item--call-back a {
  display: block;
  margin-top: -13px;
  margin-left: 49px;
  padding-top: 13px;
  padding-right: 27px;
  padding-bottom: 14px;
  padding-left: 26px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: transparent;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

@media (max-width: $tablet-max-width) {
  .page-header__logo-image {
    margin-top: 10px;
    margin-left: 15px;
  }

  .page-header__logo-text {
    margin-left: 83px;
  }

  .page-header__logo-description {
    margin-left: 83px;
  }

  .page-header__contacts-list {
    min-width: auto;
    margin-top: 10px;
    font-size: 0;
  }

  .page-header__contacts-item a {
    display: block;
    width: 50px;
    height: 50px;
    padding-left: 0;
  }

  .page-header__contacts-item--email {
    margin-right: 10px;
  }

  .page-header__contacts-item--email a {
    &::before {
      top: 15px;
      left: 12px;
      width: 25.33px;
      height: 18.67px;
    }
  }

  .page-header__contacts-item--phone-number a {
    &::before {
      top: 12px;
      left: 11px;
      width: 24px;
      height: 24px;
    }
  }

  .page-header__contacts-item--call-back {
    display: none;
  }
}
