.products {
  background-color: $dark-blue-color;
  color: #ffffff;
}

.products__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.products__heading {
  margin-top: 79px;
  margin-left: 5px;
  font-weight: 400;
  font-size: 36px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 51px;
}

.products__list {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 0;
  list-style: none;
}

.products a {
  position: relative;
  display: block;
  width: 370px;
  height: 620px;
  padding-top: 49px;
  padding-right: 160px;
  padding-left: 44px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 20px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 30px;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 63px;
    height: 63px;
    background-color: #00b2ff;
  }

  &::after {
    content: "";
    position: absolute;
    right: 26px;
    bottom: 28px;
    width: 6px;
    height: 9px;
    background-image: url("../../img/icon-arrow-right.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.products__item--production-boards a {
  background-image: url("../img/production-boards-desktop@1x.png");

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/production-boards-desktop@2x.png");
  }
}

.products__item--assembly-boards a {
  background-image: url("../img/assembly-boards-desktop@1x.png");

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/assembly-boards-desktop@2x.png");
  }
}

.products__item--components-lighting-engineering a {
  background-image: url("../img/components-lighting-engineering-desktop@1x.png");

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/components-lighting-engineering-desktop@2x.png");
  }
}
