.promo {
  background-color: #1b2d37;
  background-image: url("../img/microcircuits-desktop@1x.png"),
    url("../img/triangles.svg"), url("../img/particles-desktop@1x.png");
  background-position: calc(50% + 430px) 258px, 50% 0, center;
  background-size: 705px 515px, 1920px 881px, cover;
  background-repeat: no-repeat;
  color: #ffffff;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/microcircuits-desktop@2x.png"),
      url("../img/triangles.svg"), url("../img/particles-desktop@2x.png");
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  padding-top: 117px;
}

.promo__heading {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 199px;
  padding-bottom: 26px;
  font-weight: 700;
  font-size: 80px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 94px;
  letter-spacing: 5.6px;
  text-transform: uppercase;
}

.promo__description {
  position: relative;
  max-width: 610px;
  margin-top: 0;
  margin-bottom: 44px;
  margin-left: 97px;
  font-size: 22px;
  font-family: "PT Mono", "Courier New", monospace;
  line-height: 34px;
  text-transform: lowercase;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: -94px;
    width: 66px;
    height: 2px;
    background-color: #ffffff;
  }
}

.promo__button {
  display: inline-block;
  align-self: start;
  max-width: 610px;
  margin-bottom: 265px;
  margin-left: 97px;
  padding-top: 17px;
  padding-right: 45px;
  padding-bottom: 19px;
  padding-left: 45px;
  border-radius: 5px;
  background-color: #00b2ff;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 19px;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
}

.promo__link {
  position: absolute;
  bottom: 127px;
  left: -25px;
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  font-family: "PT Mono", "Courier New", monospace;
  line-height: 16px;
  opacity: 0.5;
  transform: rotate(-90deg);
}
