.promo {
  background-color: #1b2d37;
  background-image: url("../img/microcircuits-desktop@1x.png"),
    url("../img/triangles.svg"), url("../img/particles-desktop@1x.png");
  background-position: calc(50% + 430px) 258px, 50% 0, center;
  background-size: 705px 515px, 1920px 881px, cover;
  background-repeat: no-repeat;
  color: #ffffff;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/microcircuits-desktop@2x.png"),
      url("../img/triangles.svg"), url("../img/particles-desktop@2x.png");
  }
}

.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  padding-top: 117px;
}

.promo__heading {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 199px;
  padding-bottom: 26px;
  font-weight: 700;
  font-size: 80px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 94px;
  letter-spacing: 5.6px;
  text-transform: uppercase;
}

.promo__description {
  position: relative;
  max-width: 610px;
  margin-top: 0;
  margin-bottom: 44px;
  margin-left: 97px;
  font-size: 22px;
  font-family: "PT Mono", "Courier New", monospace;
  line-height: 34px;
  text-transform: lowercase;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: -94px;
    width: 66px;
    height: 2px;
    background-color: #ffffff;
  }
}

.promo__button {
  display: inline-block;
  align-self: start;
  max-width: 610px;
  margin-bottom: 265px;
  margin-left: 97px;
  padding-top: 17px;
  padding-right: 45px;
  padding-bottom: 19px;
  padding-left: 45px;
  border-radius: 5px;
  background-color: #00b2ff;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  line-height: 19px;
  letter-spacing: 0.8px;
  text-align: center;
  text-transform: uppercase;
}

.promo__button--mobile {
  display: none;
}

.promo__link {
  position: absolute;
  bottom: 127px;
  left: -25px;
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  font-family: "PT Mono", "Courier New", monospace;
  line-height: 16px;
  opacity: 0.5;
  transform: rotate(-90deg);
}

@media (max-width: $tablet-max-width) {
  .promo {
    background-image: url("../img/microcircuits-tablet@1x.png"),
      url("../img/triangles.svg"), url("../img/particles-tablet@1x.png");
    background-position: calc(30% + 418px) 113px, 50% -133px, center;
    background-size: 465px 340px, 1515px 695px, cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/microcircuits-tablet@2x.png"),
        url("../img/triangles.svg"), url("../img/particles-tablet@2x.png");
    }
  }

  .promo__heading {
    margin-right: 140px;
    margin-left: 78px;
    padding-top: 72px;
    padding-bottom: 28px;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 4.2px;
  }

  .promo__description {
    max-width: 490px;
    margin-bottom: 55px;
    margin-left: 129px;
    font-size: 18px;
    line-height: 28px;

    &::before {
      top: 16px;
      left: -48px;
      width: 33px;
    }
  }

  .promo__button {
    max-width: 490px;
    margin-bottom: 153px;
    margin-left: 129px;
    padding-right: 31px;
    padding-left: 31px;
  }

  .promo__link {
    display: none;
  }
}

@media (max-width: $mobile-max-width) {
  .promo {
    background-image: url("../img/microcircuits-mobile@1x.png"),
      url("../img/triangles.svg"), url("../img/particles-mobile@1x.png");
    background-position: calc(50% + 13px) 92px, calc(50% - 60px) -135px, center;
    background-size: 294px 220px, 1439px 664px, cover;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/microcircuits-mobile@2x.png"),
        url("../img/triangles.svg"), url("../img/particles-mobile@2x.png");
    }
  }

  .promo__heading {
    margin-right: 0;
    margin-left: 5px;
    padding-top: 169px;
    padding-bottom: 27px;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 2.8px;
  }

  .promo__description {
    max-width: 350px;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 56px;
    font-size: 16px;
    line-height: 25px;

    &::before {
      top: 15px;
    }
  }

  .promo__button {
    display: none;
  }

  .promo__button--mobile {
    display: inline-block;
    margin-bottom: 60px;
    margin-left: 8px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
