@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "PT Mono";
  src: url("../fonts/PTMono-Regular.woff2") format("woff2"),
    url("../fonts/PTMono-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(50%);
}

.background-wrapper {
  background-image: url("../img/advantages-triangles-desktop.svg");
  background-position: -296px 45px;
  background-size: auto;
  background-repeat: no-repeat;

  @media (max-width: $tablet-max-width) {
    background-image: url("../img/advantages-triangle-tablet.svg");
    background-position: 211px 90px;
  }

  @media (max-width: $mobile-max-width) {
    background-position: -120px 652px;
  }
}
